{% extends "base.html" %}
{% block title %}Feedback Page{% endblock %}
{% block navbar %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <a class="navbar-brand" href="/">Spotify Top Saved Songs Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <a class="nav-item nav-link active" href="/home">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link active" href="/create_playlist">Create</a>
        <a class="nav-item nav-link active" href="/update_playlist">Update</a>
        <a class="nav-item nav-link active" href="/delete_playlist">Delete</a>
      </ul>
    </div>
  </nav>
{% endblock %}
{% block header %}<div class="my-2">Thank you for using Spotify Top Saved Songs Manager!</div>{% endblock %}
{% block content %}
    {% for message in feedback %}
        {{ message }}<br>
    {% endfor %}
    <br>
    {% if playlist_id %}
        Playlist ID: {{ playlist_id }}<br><br>
    {% endif %}
    <a class="btn btn-success" role="button" href='/home'>Back to home page</a><br>
{% endblock %}